.login-container {
  max-width: 400px;
  margin: 100px auto;
  text-align: center;
  padding: 30px;
  align-items: center;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 0.1);
}
